{{#if _inlineTranscript}}
<button class="vimeo__transcript-btn vimeo__transcript-btn-inline js-vimeo-inline-transcript-toggle" aria-expanded="false">
  <span class="vimeo__transcript-btn-text">
    {{inlineTranscriptButton}}
  </span>
</button>
{{/if}}

{{#if _externalTranscript}}
<button class="vimeo__transcript-btn vimeo__transcript-btn-external js-vimeo-external-transcript-click" role="link" onclick="top.window.open('{{transcriptLink}}')">
  <span class="vimeo__transcript-btn-text">
    {{#if transcriptLinkButton}}
    {{transcriptLinkButton}}
    {{else}}
    {{transcriptLink}}
    {{/if}}
  </span>
</button>
{{/if}}

{{#if _inlineTranscript}}
<div class="vimeo__transcript-body-inline" role="region"{{#if inlineTranscriptButton}} aria-label="{{inlineTranscriptButton}}"{{/if}}>
  <div class="vimeo__transcript-body-inline-inner">
    {{{compile inlineTranscriptBody}}}
  </div>
</div>
{{/if}}
